<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analytics de Atividade</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Analytics de Atividade</h1>
    {% for analytics in analytics_data %}
        <h2>Aluno ID: {{ analytics.inveniraStdID }}</h2>
        <table>
            <tr>
                <th>Nome</th>
                <th>Valor</th>
            </tr>
            {% for item in analytics.analytics %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.value }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endfor %}
</body>
</html>
