<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Analytics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Lista de Analytics</h1>

    <h2>Analytics</h2>
    <table>
        <tr>
            <th>Nome</th>
            <th>Tipo</th>
        </tr>
        {% for item in analytics_list.analytics %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.type }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
